@import "tailwindcss";

:root {
  --background: #EEF2FF;
  --foreground: #171717;
  width: 100%;
  height: 500%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EEF2FF;
  }
}

body{
  background: linear-gradient(to bottom, #EEF2FF, #8F9199 80%, #EEF2FF);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
